nav ul {
    list-style-type: none;
    margin: 0;
padding: 0;
}

nav li {
border: 1px solid rgb(0, 0, 0);
width: 200px;
margin-bottom: 20px;
background-color: darkblue;
background-image: linear-gradient(to bottom, #0051ca, #0088f2, #00afcf, #00cc7b, #99dd00);
}

nav li a {
color: white;
text-decoration: none; 
display: block;
padding: 20px  
}

nav li a:hover {
    background-color: blue;
    background-image: linear-gradient(to top, #0051ca, #0088f2, #00afcf, #00cc7b, #99dd00);
}