#divexample {background-color: blueviolet;}
.specialp {color:aliceblue;}
.lesgo {color:blue}
.spanstyle {color:#ff9900;}
.dababy {background-color: #ffee00;}
a {
    color: #09ff00;
  }
  a:hover {
    color: #ff0000;
  }  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }